body {
	font-family: Arial, sans-serif
}
.wrapper {
	width: 260px;
	margin: 0 auto
}
.game {
	padding: 10px;
	background: #f0f0f0
}
.screen {
	margin-bottom: 10px;
	padding: 5px 0;
	background: #ddd;
}
canvas {
	display: block;
	margin: 0
}
p {
	margin: 5px 0;
}
.help {
	margin-bottom: 15px;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #999;
	font-size: 11px;
}
.bar p {
	padding: 0 35px;
	color: #4d4d4d;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.bar p:last-child {
	margin-bottom: 0
}
#enemy p {
	text-align: right;
}
#you p {
	text-align: left;
}
.hp {
	background: #4d4d4d;
	height: 20px;
	width: 240px;
	padding: 2px;
	box-sizing: border-box;
}
.hp .value {
	height: 100%;
}
.good { background: green }
.warning { background: yellow }
.danger { background: red }
.attacks {
	width: 240px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
#panel {
	height: 115px;
	background: #fff;
	border: 2px solid #999;
	padding: 10px 5px 5px
}
.winner {
	text-align: center;
}
.winner h2 {
	margin: 10px 0
}
.attacks li {
	position: relative;
	display: inline-block;
	width: 49%;
	margin-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #999;
	font-size: 13px
}
.attacks li.active {
	color: #333;
}
.attacks li.active:before {
	content: '>';
	position: absolute;
	top: 0;
	left: 0;
	color: #333;
	font-weight: bold;
	-webkit-animation: fx 600ms infinite;
  	-moz-animation:    fx 600ms infinite;
 	-o-animation:      fx 600ms infinite;
  	animation:         fx 600ms infinite;
}
.attackFX {
	-webkit-animation: fx 400ms 1;
  	-moz-animation:    fx 400ms 1;
 	-o-animation:      fx 400ms 1;
  	animation:         fx 400ms 1;
}

@-webkit-keyframes fx {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fx {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fx {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fx {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.credits {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.credits li {
	display: inline-block;
	padding: 0 5px
}
.credits a {
	color: #999;
	font-size: 11px
}